<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				margin: 0;
				overflow: hidden;
				background-color: #2c3e50;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   				font-weight: 300;
   				color: white;
			}
			a {
				color: white !important;
			}
			.alignment {
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}

			.align-item {
			  max-width: 50%;
			}
		</style>
	</head>
	<body>
		<div class="alignment">
			<div class="align-item">
				<center><h1> Lightsaber with Google Cardboard </h1></center>
				<h3> What is this? </h3>
				
				<p> 
					This experiment was inspired by <a target="_blank" href="https://lightsaber.withgoogle.com">lightsaber.withgoogle.com</a>, but takes the idea a step further. You will be able to use one smartphone as a control for the lightsaber and the other one to view the immersive VR experience with Google Cardboard. It all runs on a webkit enabled browser such as Safari or Chrome. I'm using free hosting for a rather high bandwidth application so you may notice significant delays. For the best experience, follow the instructions on <a target="_blank" href="https://github.com/Carpetfizz/vr-lightsaber">Github</a> to get the app running locally on your machine.
				</p>

				<h3> How do I use it? </h3>

				<p>
					First get two smartphones which have the latest versions of Safari or Google Chrome. Choose one to use as the Viewer and one to use as the Lightsaber. If both your devices are different, use the newer one as the Viewer since all the graphics will be rendered there. 
				</p>

			</div>
		</div>
	</body>
</html>