<html>
	<head>
		<script>
			var roomId = "<%= room %>";
		</script>
		<script src="/libs/three.min.js"></script>
		<script src="/libs/socket.io-1.3.7.js"></script>
	</head>
	<body>
		<p>original: </p><span id="original"></span>
		<p>alpha: </p><span id="alpha"></span>
		<p>beta: </p><span id="beta"></span>
		<p>gamma: </p><span id="gamma"></span>
		<script src="/js/lightsaber.js"></script>
	</body>
</html>